#errormsg{
color: #dc3545;
}
.username{
text-transform: uppercase;
}
.eklavyacenter{
margin-left: 20%;
}
.eklavyaradiodown{
margin-top: 3%;
}
select option{
background-color: rgb(2, 2, 3);
}
/*.eklavytblheight thead ,tbody{
display: block;
}
.eklavytblheight tbody {
height: 230px;
overflow-y: auto;
overflow-x: auto;
}*/
.eklavya_inputBtmBrdr{
	background: transparent;
    border: none; 
    border-bottom: 1px solid #4f4860; 
    color: white;
    
}

	